body{
    color: white;
background:black;
    font-family: "Itim", cursive;
    margin: 0px;
    margin-bottom: 100px;
    
}
.chamada{
background:rgb(241, 57, 88);
margin-top: 80px;
margin-bottom: 80px;
display: flex;
justify-content: center;

}
header{
    color: white;
    font-size: 30px;
    border-bottom: solid 3px white;
    padding: 20px;

}
.chamada-texto{
   margin-ritgh: 5%; 
   h1{
    front-size: 35;
   }
}
.categoria{

    background:white;
    padding-left:20px;
    padding-right: 20px;
    margin-top: 50px;

}
.categoria-videos{
    display: flex;
    overflow-x: autoo;
    gap:10px;
    
}
.categoria-videos img{
    height: 200px;
    opacity: 0.5;

}
.categoria-videos img:hover{
    opacity: 1.0;
    border: 3px plum

}
